body {
    background: #FFE9C0;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    color: black;
    margin-top: 20px;
    text-align: center;
}

header {
    padding-top: 1em;
    padding-bottom: 2px;
    padding-left: 0.4em;
    border-radius: 15%;
    border-top: solid 10px #5B6D8F;
    margin-top: 0;
    background: #FFE9C0;
}

div.description {
    font-family: Verdana, Times, Arial;
    font-size: 12px;
    margin-bottom: 1em;
    border-bottom: solid 2px #36364C;
    text-align: justify;
}

#country-filter ul, #year-filter ul {
    color: #130C0E;
    font-size: 11px;
    letter-spacing: 1px;
    list-style: none;
    padding: 0;
    margin: 10px 0 5px 0;
    text-align: justify;
}

#country-filter ul li, #year-filter ul li {
    display: inline-block;
    padding: 1px 8px;
    margin-right: 1px;
    background:#B8CBED;
    cursor: pointer;
    position: relative;
    margin-bottom: 1px;
}

.reset {
    width: 35px;
    height: auto;
    background: #D6B881;
    padding: 0px;
    margin-top: 10px;
    cursor: pointer;
}

.reset p {
    color: #36384C;
    font-size: 12px;
    padding: 2px
}

svg {
    position: relative;
    left: 50%;
    margin-left: -525px;
}

line {
    cursor: crosshair;
}

.legend {
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
}

.legend li {
    display: inline;
    margin-right: 10px;
    width: 300px;
}

.legend span {
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 2px;
    margin-right: 2px;
    margin-bottom:4px;
}

.increase_10 {
    background-color: #15c418;
    cursor: pointer;
}

.no_change {
    background-color: #8d9093;
}

.decrease_10 {
    background-color: #af2f0c;
    cursor: pointer;
}

.slope {
    display: inline-block;
    width: 100%;
    padding-top: 0;
}

text.labels {
    font-size: 9.5px;
    fill: #B8CBED;
}

text.s-title, text.m-title, text.e-title {
    fill: #36384C;
    letter-spacing: 2px;
    font-size: 11px;
    margin-bottom: 10px;
}
